<div class="social-icons">
  {% if facebook_url != '' %}
    <div class="social-icon"><a href="{{ facebook_url }}" target="_blank"><i class="social-icon icon-facebook" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if twitter_url != '' %}
    <div class="social-icon"><a href="{{ twitter_url }}" target="_blank"><i class="social-icon icon-twitter" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if instagram_url != '' %}
    <div class="social-icon"><a href="{{ instagram_url }}" target="_blank"><i class="social-icon icon-instagram" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if linkedin_url != '' %}
    <div class="social-icon"><a href="{{ linkedin_url }}" target="_blank"><i class="social-icon icon-linkedin" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if youtube_url != '' %}
    <div class="social-icon"><a href="{{ youtube_url }}" target="_blank"><i class="social-icon icon-youtube" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if vimeo_url != '' %}
    <div class="social-icon"><a href="{{ vimeo_url }}" target="_blank"><i class="social-icon icon-vimeo" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if vk_url != '' %}
    <div class="social-icon"><a href="{{ vk_url }}" target="_blank"><i class="social-icon icon-vk" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if whatsapp_url != '' %}
    <div class="social-icon"><a href="{{ whatsapp_url }}" target="_blank"><i class="social-icon icon-whatsapp" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if github_url != '' %}
    <div class="social-icon"><a href="{{ github_url }}" target="_blank"><i class="social-icon icon-github" aria-hidden="true"></i></a></div>
  {% endif %}
  {% if telegram_url != '' %}
    <div class="social-icon"><a href="{{ telegram_url }}" target="_blank"><i class="social-icon icon-telegram" aria-hidden="true"></i></a></div>
  {% endif %}
</div>
